.ge{
    color: white; 
    text-decoration: none;
    text-transform: uppercase; 
    border: 1px solid red; 
    cursor: pointer;
    border-radius: 5px;
    padding: 7px ;
    transform: scale(1);
    transition: transform 0.1s ease-in;

}
.ge:hover{
    background-color: red; 
    transform: scale(1.12);

}